Практика

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
vis_data = pd.read_csv('latlons.csv.xls')
vis_data.head(10)

                                  address        lat        lon
0  4300 rosa parks blvd, Detroit MI 48208  42.346169 -83.079962
1                14512 sussex, Detroit MI  42.394657 -83.194265
2                3456 garland, Detroit MI  42.373779 -82.986228
3                5787 wayburn, Detroit MI  42.403342 -82.957805
4              5766 haverhill, Detroit MI  42.407255 -82.946295
5             11751 englewood, Detroit MI  42.243927 -83.204712
6                 6442 heyden, Detroit MI  42.337779 -83.237171
7       15703 kentfield, Detroit MI 48223  42.404354 -83.240920
8               3818 clements, Detroit MI  42.389808 -83.133463
9          431 congress, Detroit MI 48226  42.332344 -83.041562

In [7]:
vis_data.balance_due[vis_data.balance_due > 0].hist(bins=10)

AttributeError: 'DataFrame' object has no attribute 'balance_due'